<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者詳細</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>管理者詳細</h1>
    </header>
    <main>
        <div>
            <label>姓: </label>
            <span th:text="${admin.lastName}"></span>
        </div>
        <div>
            <label>名: </label>
            <span th:text="${admin.firstName}"></span>
        </div>
        <div>
            <label>Email: </label>
            <span th:text="${admin.email}"></span>
        </div>
        <div>
            <label>役職: </label>
            <span th:text="${admin.position.positionName}"></span>
        </div>
        <div>
            <label>権限: </label>
            <span th:text="${admin.permission.permissionName}"></span>
        </div>
        <div>
            <label>電話番号: </label>
            <span th:text="${admin.phone}"></span>
        </div>
        <div>
            <label>店舗: </label>
            <span th:text="${admin.store.storeName}"></span> <!-- ここに店舗名を表示 -->
        </div>
        <div>
            <label>作成日: </label>
            <span th:text="${#dates.format(admin.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div>
            <label>更新日: </label>
            <span th:text="${#dates.format(admin.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div>
			<button type="button" 
			    th:if="${isAdmin}" 
				th:onclick="'location.href=\'/admin/admin-edit?adminId=' + ${admin.id} + '\''">
				編集
			</button>		
            <!-- ログインしているユーザーの position_id が 1 であれば削除ボタンを表示 -->
			<button type="button" 
			    th:if="${isAdmin}" 
			    th:onclick="'location.href=\'/admin/delete?adminId=' + ${admin.id} + '\''">
			    削除
			</button>
            <button type="button" onclick="location.href='/admin/admin-list'">戻る</button>
        </div>
    </main>
</body>
</html>
